<!DOCTYPE html>
<html>
<head>
  <title>Inventory Tracking App</title>
  <link rel="stylesheet" href="css/styleB.css">

</head>
<body>
  <div class="layout">
    <div class="body">
      <div class="content">
        <div style="text-align: center;">
            <div class="topnav">
                <a class="active" href="base.html"> <i class="fa-solid fa-house"></i> Home </a>
                <a href="#settings"> <i class="fa-solid fa-gear"></i> Settings </a>
                <a href="#logout"> <i class="fa-solid fa-right-from-bracket"></i> Logout </a>
              </div>
            <h1>Add Inventory</h1>
          <div>
            <a class="button" title="options" href="">Camera Input</a>
            <a class="button" title="options" href="">Manual Input</a>
          </div>
        </div>        
      </div>
    </div>
  </div>
</body>
<footer>
    <script src="https://kit.fontawesome.com/c6fae16368.js" crossorigin="anonymous"></script>
  </footer>
</html>