<!DOCTYPE html>
<html>
<head>
  <title>Inventory Tracking App</title>
  <link rel="stylesheet" href="css/styleB.css">

</head>
<body>
  <div class="layout">
    <div class="sidebar">
      <ul>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li>Store</li>
        <li>Settings</li>
        <li>Log Out</li>
      </ul>
    </div>
    <div class="body">
      <div class="content">
        <div style="text-align: center;">
          <a class="et_pb_button" title="options" href="https://www.youtube.com">Add Inventory</a>
          <a class="et_pb_button" title="options" href="https://www.google.com">Remove Inventory</a>
          <a class="et_pb_button" title="options" href="https://chat.openai.com/?model=text-davinci-002-render-sha">View Inventory</a>
        </div>        
      </div>
    </div>
  </div>
</body>
</html>
