<!DOCTYPE html>
<html>
<head>
  <title>Inventory Tracking App</title>
  <link rel="stylesheet" href="css/styleB.css">

</head>
<body>
    <div class="body">
      <div class="content">
        <div style="text-align: center;">
          <div class="topnav">
            <a class="active" href="index.html"> <i class="fa-solid fa-house"></i> Home </a>
            <a href="#settings"> <i class="fa-solid fa-gear"></i> Settings </a>
            <a href="#logout"> <i class="fa-solid fa-right-from-bracket"></i> Logout </a>
          </div>
          <h1>INVENTREE</h1>          
          <a class="button" title="options" href="addInventory.html">Add Inventory</a>
          <a class="button" title="options" href="removeInventory.html">Edit/Remove</a>
        </div>        
      </div>
    </div>
  </div>
</body>
<footer>
  <script src="https://kit.fontawesome.com/c6fae16368.js" crossorigin="anonymous"></script>
</footer>
</html>
