<!DOCTYPE html>
<html>
<head>
  <title>Inventory Tracking App</title>
  <link rel="stylesheet" href="css/styleB.css">

</head>
<body>
  <div class="layout">
    <div class="sidebar">
    <div class="body">
      <div class="content">
        <div style="text-align: center;">
          <div class="topnav">
            <a class="active" href="http://127.0.0.1:5500/templates/base.html"> <i class="fa-solid fa-house"></i> Home </a>
            <a href="#settings"> <i class="fa-solid fa-gear"></i> Settings </a>
            <a href="#logout"> <i class="fa-solid fa-right-from-bracket"></i> Logout </a>
          </div>
            <h1>Add Inventory</h1>
          <table>            
            <tr>
              <th>Picture</th>
              <th>Item Type</th>
              <th>Date Entered</th>
            </tr>
            <tr>
              <td>image</td>
              <td>type</td>
              <td>date</td>
            </tr>
            <tr>
              <td>image</td>
              <td>type</td>
              <td>date</td>
            </tr>
            <tr>
              <td>image</td>
              <td>type</td>
              <td>date</td>
            </tr>
          </table>
        </div>        
      </div>
    </div>
  </div>
</body>
<footer>
    <script src="https://kit.fontawesome.com/c6fae16368.js" crossorigin="anonymous"></script>
</footer>
</html>